{% extends "layout_base.html" %}

{% block header %}

<!-- <div class="govuk-o-width-container">
  <div class="govuk-c-phase-banner">
      <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag">
      alpha
    </strong>
    <span>
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div> -->

    <header>
        <div class="feereg-header">
            <div class="govuk-o-width-container">              
              <div class="govuk-grid-row">
                      <div class="feereg-header-text">
                        <a href="index.html">Fee register</a>
                        <!-- <span>
                          <div class="signin-name-text">
                            <a href="">James Brown</a>
                          </div>
                        </span> -->
                      </div>
                <!-- <h2 class="feereg-header-text">Fees Register Admin console</h2> -->
            </div>
          </div>

      </div>
    </header>

{% endblock %}

{% block footer %}

          <footer class="feereg-footer" role="contentinfo">
              <div class="govuk-o-width-container">
                  <br>
                  <h2>Help</h2>

                  <ul class="jui-footer__list">
                    <li>Email: <a href="#">service-desk@hmcts.gov.uk</a></li>
                    <li>Phone: 0207 633 4140</li>
                    <li><span class="visually-hidden">Opening times: </span>Monday to Friday, 8am to 6pm (exluding public holidays)</li>
                  </ul>

                  <hr>


                  <ul class="jui-footer__list  jui-footer__list--inline">
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Privacy policy</a></li>
                  </ul>

                  <!-- <br>
                  <a href="/prototype-admin/clear-data">Clear data</a> -->

                </div>

          </footer>


{% endblock %}
