{% extends "layout.html" %}

{% block page_title %}
  View all fees | Fees Register Admin console
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
      <div class="govuk-c-phase-banner">
          <p class="govuk-c-phase-banner__content"><strong class="govuk-c-tag govuk-c-phase-banner__content__tag ">beta</strong><span class="govuk-c-phase-banner__text">
              This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.</span>
          </p>
      </div>
      <div class="govuk-c-breadcrumbs">
          <ol class="govuk-c-breadcrumbs__list">
          <li class="govuk-c-breadcrumbs__list-item">
            <a class="govuk-c-breadcrumbs__link" href="home.html">Home</a>
          </li>
          <li class="govuk-c-breadcrumbs__list-item" aria-current="page">View all fees</li>
          </ol>
      </div>
  <main role="main" class="govuk-o-main-wrapper">

      <div class="govuk-o-grid">

        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--full">

    node_modules/govuk_template_jinja/views/layouts/govuk_template


        </div>

      </div>


      </div>
  </main>
</div>

{% endblock %}
