{% extends "layout_fees.html" %}

{% block page_title %}
  Draft fees | Fees Register Admin console
{% endblock %}

{% block content %}

<div class="topnav">
    <div class="topnavalignment">
      <div class="govuk-o-width-container">
        <div class="govuk-grid-row">
            <a href="all-fees.html">All fees</a>
            <a href="draft-fees">Draft fees</a>
            <a href="create-a-fee">Create a fee</a>
            <a href="upload-fee">Upload a fee</a>
            <a class="active" href="reference-data.html">Reference data</a>
              <!-- <div class="search-container">
                <input type="text" placeholder="Search..">
                <button class"search-container" type="button"><i class="hod-search"></i></button>
                  </div> -->
        </div>
      </div>
    </div>
</div>

<div class="govuk-o-width-container">


  <main role="main" class="govuk-o-main-wrapper">


      <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--full">
            <h1 class="govuk-heading-xl">Reference data</h1>
          </div>
      </div>

      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--one-half">



                    <details class="govuk-c-details">
                  <summary class="govuk-c-details__summary">
                    <span class="govuk-c-details__summary-text">
                      Applicants
                    </span>
                  </summary>
                  <div class="govuk-c-details__text">
                      <li>personal</li>
                      <li>all</li>
                      <li>professional</li>
                  </div>
                </details>
                <details class="govuk-c-details">
                      <summary class="govuk-c-details__summary">
                        <span class="govuk-c-details__summary-text">
                          Jurisdictions 1
                        </span>
                      </summary>
                      <div class="govuk-c-details__text">
                          <li>civil</li>
                          <li>family</li>
                          <li>tribunal</li>
                      </div>
                </details>
                <details class="govuk-c-details">
                      <summary class="govuk-c-details__summary">
                        <span class="govuk-c-details__summary-text">
                          Jurisdictions 2
                        </span>
                      </summary>
                      <div class="govuk-c-details__text">
                      <li>county court</li>
                      <li>high court</li>
                      <li>magistrates court</li>
                      <li>court of protection</li>
                      <li>family court</li>
                      <li>probate registry</li>
                      <li>gambling tribunal</li>
                      <li>gender recognition panel</li>
                      <li>immigration and asylum chamber</li>
                      <li>property chamber</li>
                      <li>tax chamber</li>
                      <li>upper tribunal immigration and asylum chamber</li>
                      <li>upper tribunal lands chamber</li>
                      </div>
                </details>
                <details class="govuk-c-details">
                      <summary class="govuk-c-details__summary">
                        <span class="govuk-c-details__summary-text">
                          Services
                        </span>
                      </summary>
                      <div class="govuk-c-details__text">
                        <li>civil money claims</li>
                        <li>possession claim</li>
                        <li>insolvency</li>
                        <li>private law</li>
                        <li>public law</li>
                        <li>divorce</li>
                        <li>adoption</li>
                        <li>gambling</li>
                        <li>gender recognition</li>
                        <li>immigration and asylum</li>
                        <li>property</li>
                        <li>tax</li>
                        <li>probate</li>
                        <li>general</li>
                        <li>magistrates</li>
                    </div>
                </details>
                <details class="govuk-c-details">
                      <summary class="govuk-c-details__summary">
                        <span class="govuk-c-details__summary-text">
                          Channels
                        </span>
                      </summary>
                      <div class="govuk-c-details__text">
                        <li>online</li>
                        <li>bulk</li>
                        <li>default</li>
                    </div>
                </details>
                <details class="govuk-c-details">
                      <summary class="govuk-c-details__summary">
                        <span class="govuk-c-details__summary-text">
                          Events
                        </span>
                      </summary>
                      <div class="govuk-c-details__text">
                      <li>enforcement</li>
                      <li>appeal</li>
                      <li>search</li>
                      <li>issue</li>
                      <li>general application</li>
                      <li>copies</li>
                      <li>hearing</li>
                      <li>miscellaneous</li>
                      <li>cost assessment</li>
                      </div>
                </details>
                <details class="govuk-c-details">
                      <summary class="govuk-c-details__summary">
                        <span class="govuk-c-details__summary-text">
                          Directions
                        </span>
                      </summary>
                      <div class="govuk-c-details__text">
                      <li>cost recovery</li>
                      <li>enhanced</li>
                      <li>licence</li>
                      <li>partial cost recovery</li>
                      <li>pre cost recovery</li>
                      <li>reduced churn</li>
                      <li>simplified</li>
                      </div>
                </details>

                <!-- <a href="radio-mockup.html" class="govuk-heading-m">Radio-mockup</a>
                <a href="test.html" class="govuk-heading-m">Test-mockup</a>
                <a href="payment-case-view.html" class="govuk-heading-m">Table</a> -->
                <input value="Edit reference data" type="submit" class="govuk-c-button">
        </div>
      </div>







  </main>
</div>

{% endblock %}
