{% extends "layout_signin.html" %}

{% block page_title %}
  Draft fees | Fees Register Admin console
{% endblock %}

{% block content %}

<!-- <div id="subHeader">
      <div class="govuk-o-width-container">
        <a href="all-fees.html" id="paragraphWhite">All fees</a>
        <a class="govuk-body govuk-!-w-bold" href="draft-fees" id="paragraphWhite">Draft fees</a>
        <a href="create-a-fee" id="paragraphWhite">Create a fee</a>
        <a href="upload-fee" id="paragraphWhite">Upload a fee</a>
        <a href="reference-data.html" id="paragraphWhite">Reference data</a>
      </div>
</div> -->



<div class="govuk-o-width-container">


  <main role="main" class="govuk-o-main-wrapper">


      <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--full">
            <h1 class="govuk-heading-xl">Sign in to your account</h1>
          </div>
      </div>

      <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-o-form-group"><label class="govuk-body govuk-!-w-regular" for="fee-code">
                          Email address</label><label class="govuk-body govuk-!-w-regular"></label> <br>
              <input class="govuk-c-input govuk-!-width-full" id="fee-code" name="fee-code" type="text">
            </div>

            <div class="govuk-o-form-group"><label class="govuk-body govuk-!-w-regular" for="fee-code">
                          Password</label><label class="govuk-body govuk-!-w-regular"></label> <br>
              <input class="govuk-c-input govuk-!-width-full" id="fee-code" name="fee-code" type="text">
            </div>


          </div>
      </div>

      <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__one-half">
              <a href="" class="govuk-link govuk-link--no-visited-state">Forgotten password?</a>
          </div>
      </div>

      <br>

      <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__one-half">
            <a href="all-fees.html" role="button" class="govuk-c-button">
              Sign in
            </a>
          </div>
      </div>







  </main>
</div>

{% endblock %}
